<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentAssertions" version="6.7.0" targetFramework="net461" />
  <package id="Microsoft.CodeCoverage" version="17.1.0" targetFramework="net461" />
  <package id="Microsoft.NET.Test.Sdk" version="17.1.0" targetFramework="net461" />
  <package id="MSTest" version="2.2.10" targetFramework="net461" />
  <package id="MSTest.TestAdapter" version="2.2.10" targetFramework="net461" />
  <package id="MSTest.TestFramework" version="2.2.10" targetFramework="net461" />
  <package id="PowerArgs" version="3.6.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.0" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.0" targetFramework="net461" />
</packages>